
		.main_div {
          background-color: #ecf0f1;
          height: 800px;
          width: 90%;
          position: relative;
          left: 60px;
		}
		.headings {
			margin-top: 15px;
			margin-bottom: 15px;
			background-color: #3498db;
			color: white;
			width: 80%;
			height: 70px;
			position: relative;
			left: 115px;
			border-radius: 10px;
			text-align: center;
			padding: 15px;
			margin-top: 15px;


		}
		.selections_div {

            margin-top: 25px;
			margin-bottom: 25px;
			background-color: #3498db;
			color: #34495e;
			width: 80%;
			height: 70px;
			position: relative;
			left: 115px;
			border-radius: 10px;
			padding: 15px;

		}
		
		.input_btn{
			background: #3498db;
    padding: 14px 45px;
    border-radius: 20px;
    border: 0px;
    color: #fff;
    font-size: 16px;
		}

     .delete{
	background: #e74c3c;
    padding: 7px 15px;
    border-radius: 20px;
    border: 0px;
    margin-right: 2px;
    color: #FF0;
    font-size: 16px;
		}
		.update{
	background: green;
    padding: 5px 20px;
    border-radius: 20px;
    border: 0px;
    color: #FF0;
    font-size: 16px;
		}

		.input1 {
			
    background: rgba(255, 255, 255, 0.22);
    padding: 10px 15px;
    border: 1px solid#9fc7e2;
    border-radius: 20px;
		}

		.input2 {
			
	    margin-top: 20px;
	    padding: 10px 15px;
	    width: 32.5%;
	    border-radius: 20px;
		}
		

       .input3 {
			
			padding: 15px;
		}
		.myTable {
			position: relative;
			left: 120px;
			background-color: #ecf0f1;
			width: 80%;
			border:5px solid #2980b9;
			
			
		}
		a{
			color: white;
			text-decoration: none;
		}
		img {
			width: 50px;
			height: 30px;
			margin-top: 4px;
		}
		
		.body_body {
			background-color: #ecf0f1;
		}

.upload {
margin: 20px 570px;
}

hr {
width: 82%;
}

.image{
text-align: center;
color: #34495e;
}

.mainTr{
background-color: #34495e;
text-align: center;
font-size: 20px;
 color: #FFF;

}
.mainTr td{
padding:10px;
}
.dataTr{
background-color: #2980b9;
}
.dataTr td{
text-align:center;
}